@mixin button {
  width: 88px;
  height: 36px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 6px;
  font-weight: 500;
}
button {
  background-color: #e0e0e0;
  border: none;
  @include button();
  color: #3f3f3f;
  box-shadow: 0px 2px 3px 0px #33333333;
  &:hover,
  &:focus {
    background-color: #aeaeae;
  }
}

.outline {
  border: 1px solid #3d5afe;
  background-color: transparent;
  color: #3d5afe;
  box-shadow: none;
  @include button();
  &:hover,
  &:focus {
    background-color: rgba(41, 98, 255, 0.1);
  }
}

.text {
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: #3d5afe;
  @include button();
  &:hover,
  &:focus {
    background-color: rgba(41, 98, 255, 0.1);
  }
}
